html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0; }

header {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10rem;
  top: 0;
  background: url("../images/headerBG.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 5px 1.5px #888888; }

@keyframes grow {
  0% {
    transform: scale(1); }
  80% {
    transform: scale(1); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
#square {
  position: absolute;
  height: 9rem;
  width: 9rem;
  background-color: black;
  border: solid;
  border-width: .2rem;
  border-color: white;
  display: flex;
  cursor: pointer;
  z-index: 1; }
  #square img {
    height: 9rem;
    width: 9rem;
    display: block;
    animation: grow;
    animation-duration: 5s;
    animation-iteration-count: infinite; }

.navImg {
  position: absolute;
  width: 12%;
  cursor: pointer; }

nav {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%; }
  nav #skills {
    top: 30%;
    left: 30%; }
  nav #work {
    top: 30%;
    left: 15%; }
  nav #blog {
    top: 30%;
    right: 30%; }
  nav #contact {
    top: 30%;
    right: 15%; }

#fullNav {
  visibility: hidden; }

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .navImg {
    position: absolute;
    width: 15%;
    cursor: pointer; }

  nav {
    position: absolute;
    display: flex;
    height: 100%;
    width: 80%; }
    nav #skills {
      top: 30%;
      left: 25%; }
    nav #work {
      top: 30%;
      left: 5%; }
    nav #blog {
      top: 30%;
      right: 25%; }
    nav #contact {
      top: 30%;
      right: 5%; } }
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .navImg {
    position: absolute;
    width: 18%;
    cursor: pointer; }

  nav {
    position: absolute;
    display: flex;
    height: 100%;
    width: 80%; }
    nav #skills {
      top: 30%;
      left: 20%; }
    nav #work {
      top: 30%;
      left: -5%; }
    nav #blog {
      top: 30%;
      right: 20%; }
    nav #contact {
      top: 30%;
      right: -5%; } }
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .navImg {
    position: absolute;
    width: 25%;
    cursor: pointer; }

  nav {
    position: absolute;
    display: flex;
    height: 100%;
    width: 80%; }
    nav #skills {
      top: 55%;
      left: 5%; }
    nav #work {
      top: 10%;
      left: 5%; }
    nav #blog {
      top: 10%;
      right: 5%; }
    nav #contact {
      top: 55%;
      right: 5%; } }
@media only screen and (min-width: 600px) and (max-width: 700px) {
  .navImg {
    position: absolute;
    width: 28%;
    cursor: pointer; }

  nav {
    position: absolute;
    display: flex;
    height: 100%;
    width: 80%; }
    nav #skills {
      top: 55%;
      left: 2%; }
    nav #work {
      top: 10%;
      left: 2%; }
    nav #blog {
      top: 10%;
      right: 2%; }
    nav #contact {
      top: 55%;
      right: 2%; } }
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .navImg {
    visibility: hidden; }

  #fullNav {
    visibility: visible;
    position: fixed;
    background: black;
    opacity: .98;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2; }

  img {
    width: 40%;
    position: absolute; }

  #skills {
    top: 20%; }

  #work {
    top: 32%; }

  #blog {
    top: 44%; }

  #contact {
    top: 56%; } }
@media only screen and (max-width: 500px) {
  .navImg {
    visibility: hidden; }

  #fullNav {
    visibility: visible;
    position: fixed;
    background: black;
    opacity: .98;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2; }

  img {
    width: 50%;
    position: absolute; }

  #skills {
    top: 20%; }

  #work {
    top: 32%; }

  #blog {
    top: 44%; }

  #contact {
    top: 56%; } }

/*# sourceMappingURL=index.css.map */
